
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class=row>
        <div class="col-12 d-flex justify-content-center mt-3">
            <h2 class="titulo">Categorias del Menu</h2>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <div class="titulo-divisor"></div>>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/imagenes/contenido/birthdayCake.jpg" >
                    <div class="card-body">
                        <h5 class="card-title">Postres</h5>
                   </div>
                <div class="card-body">
                    <button class="boton-nice"><a asp-controller="Menu" asp-action="Postres" asp-route-id="">Ver Postres</a></button>
                </div> 
            </div>

        </div>


        <div class="col-sm-12 col-md-4">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/imagenes/contenido/FireWhiskey.jpg" >
                    <div class="card-body">
                        <h5 class="card-title">Bebidas</h5>
                   </div>
                <div class="card-body">
                    <button class="boton-nice"><a asp-controller="Menu" asp-action="Bebidas" asp-route-id="">Ver Bebidas</a></button>
                </div> 
            </div>

        </div>

        <div class="col-sm-12 col-md-4">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/imagenes/contenido/shepherdPie.jpg" >
                    <div class="card-body">
                        <h5 class="card-title">Comidas</h5>
                   </div>
                <div class="card-body">
                    <button class="boton-nice"><a asp-controller="Menu" asp-action="Comidas" asp-route-id="">Ver Comidas</a></button>
                </div> 
            </div>

        </div>



    </div>
</div>